https://docs.npmjs.com/files/package.json

https://docs.npmjs.com/misc/scripts

Em Javascript os tipos primitivos são:

String (texto)
Number (número)
Boolean
Null
undefined
Symbol

https://medium.com/@ethannam/javascripts-memory-model-7c972cd2c239